.form-label {
	display: inline-block;
	width: 140px;
}

.form-feedback {
	margin: 20px 20px;
	border: 2px solid black;
	background-color: white;
}

.form-feedback-item {
	padding: 10px 7px;
}

.form-feedback-item:not(:first-child) {
	border-top: 1px solid black;
}
