body {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

#header-container {
	
}

#header {
	width: 640px;
	margin: 0 auto;
	overflow-y: auto;
	background-color: #BBF;
}

#main-container {
	
}

#main {
	width: 640px;
	margin: 0 auto;
	margin-top: 2px;
	overflow-y: auto;
	background-color: #BBF;
}

#footer-container {
	
}

#footer {
	width: 640px;
	margin: 0 auto;
	margin-top: 2px;
	overflow-y: auto;
	background-color: #BBF;
}
